.button-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.button-wrapper button {
  /* Add your button styles here */
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bb {
  justify-content: center;
  align-items: center;
}